/* main css */
body{
    padding: 0;
    margin: 0;
}

.section-header {
    font-weight: 700;
    font-size: 50px;
    color: rgba(2, 18, 6, 1);
    line-height: 75px;
}

/* navbar css */

.navbar-brand{
    img{
        width: 56px;
    }
}

.nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(2, 18, 6, 1);
}
.navbar{
    z-index: 999;
}

.navbar-tel {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: rgba(54, 54, 54, 1);
}

/* hoome page*/
/* banner section */

.banner-info {
    h2 {
        font-weight: 700;
        font-size: 54px;
        line-height: 81px;
        color: rgba(2, 18, 6, 1);

        span {
            color: rgba(24, 202, 144, 1);
        }
    }

    p {
        font-weight: 400;
        font-size: 21px;
        line-height: 33px;

        span {
            font-weight: 500;
        }
    }
}

.google-play {
    text-decoration: none;
    color: rgb(74, 74, 74);
}

.title {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: normal !important;
}

.subtitle {
    font-size: 18px !important;
    font-weight: 700 !important;
}

/* about card section */
.about-card__info {
    h2 {
        font-weight: 600;
        font-size: 55px;
        line-height: 97px;
        color: rgba(103, 120, 214, 1);

        span {
            color: rgba(2, 18, 6, 1);
        }
    }

    p {
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;

        span {
            font-weight: 700;
            color: rgba(103, 120, 214, 1);
        }
    }
}

/* services cards*/
.icons svg {
    font-size: 24px;
}

/* portfolio section */
.portfolio-card {
    height: 350px;
    overflow: hidden;

    img {
        border-radius: 20px;
        border-bottom-left-radius: 30px;
    }

    div {
        background-color: #fff;
        backdrop-filter: blur(5px);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 30px;
    opacity: 0;
    transition: all 0.3s  ease-in-out;
    svg{
        width: 24px;
        height: 24px;
    }
}

.portfolio-card:hover .arrow{
    opacity: 1;
}

.main-btn{
    background: linear-gradient(91.82deg, #70AFCD -29.62%, #6364DA 36.48%, #5F34E1 100%);
}

/* form  section */
.checkbox label{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

/* footer*/
footer{
    padding: 30px 0;
    background: linear-gradient(91.82deg, #70AFCD -29.62%, #6364DA 36.48%, #5F34E1 100%);
    color: rgba(255, 255, 255, 1);
    h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }
    p{
        font-weight: 400;
    }
    ul{
        list-style: none;
        padding-left: 0;
        a{
            text-decoration: none;
            color: rgba(255, 255, 255, 1);
            font-weight: 400;
        }
    }
    svg{
        font-size: 24px;
    }
}

@media(max-width:996px){
    .section-header{
        font-size: 36px;
    }
}